.computer-card{
        width: 90%;
        height: 220px;
        padding: 25px 0;
        border-radius: 10px;
        display:flex;
        flex-direction:column;
        justify-content: center; /* Centrar verticalmente */
        align-items: center;
        margin-bottom: 2em;
        
}
.computer-name{
        margin-bottom:10px;
}
.wait-msg{
        margin-top: 10px;
}



@media only screen and (max-width: 600px) {
 
        .computer-name, .wait-msg, .pc-selection, h3, .win-computer-msg{
          font-size: 1.75rem;
        }
        .img-icon, .win-computer-trophy{
               width:100px;
        }
         
    }
    
    @media only screen and (min-width: 601px) and (max-width: 900px) {
        
      
        .computer-name, .wait-msg, .pc-selection, h3,  .win-computer-msg{
          font-size: 2rem;
        }
        .img-icon, .win-computer-trophy{
                width:135px;
        }
       
      }
    
      @media only screen and (min-width: 901px) {
    
        .computer-name, .wait-msg, .pc-selection, h3,  .win-computer-msg{
          font-size: 2.25rem;
        }
        .img-icon, .win-computer-trophy{
                width:150px;
        }
       
      }


