.computer-card{
        height: 220px;
        padding: 25px 0;
        background-color: rgba(255,255,255,0.5);
        margin-bottom: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}
.computer-card h2, 
.computer-card h3 {
        text-align:center;
        margin:0 0 10px 0;   
}
.wait-msg{
        text-align: center;
        margin-top: 20px;
}
/* .img-container{
        display:flex;
        flex-direction: column;
        
} */

.img-icon{
        display: flex;
        justify-content: center;
        align-items: center;
}


