.user-card {
  width: 90%;
  height: 220px;
  padding: 25px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center;
  margin-bottom: 2em;
}
.user-name {
  margin-bottom: 10px;
}
.user-message {
  margin-bottom: 50px;
}

.choice-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 0.75rem;
}
.win-user-trophy {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .user-name,
  .user-selection {
    font-size: 1.75rem;
  }
  .win-user-trophy {
    width: 100px;
  }
  .choice-grid {
    gap: 0.15em;
  }
  img.choice-icon {
    width: 75px;
    height: 75px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .user-name,
  .user-selection {
    font-size: 2rem;
  }
  .win-user-trophy {
    width: 135px;
  }
  .choice-grid {
    gap: 1.75em;
  }
  img.choice-icon {
  }
  svg.hourglass {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 901px) {
  .user-name,
  .user-selection {
    font-size: 2.25rem;
  }
  .win-user-trophy {
    width: 170px;
  }
  .choice-grid {
    gap: 2.25em;
  }
}
