.toggle-audio input[type=checkbox] {
	display: none;
   

}

.toggle-audio label {
  
	
    border: 1px solid #ccc;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s; 
	width: 80px;
	height: 40px;
	position: relative;
	background-image: 
		linear-gradient(to right, rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.5)), 
		url('../../assets/img/turn-on-small.png'),

		linear-gradient(to left, rgba(53, 45, 45, 0.87), rgba(243, 202, 202, 0.804)), 
        url('../../assets/img/turn-off-big.png');

	background-size: 50% auto, 50% auto; /* Cada imagen ocupa el 50% del ancho del contenedor */
    background-repeat: no-repeat; /* Evita que las imágenes se repitan */
	background-position: left, right; 
   
}


 .toggle-audio label::after {
	background-color:#3983d7;
	background: no-repeat url('../../assets/img/moon2.png') auto;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all ease-in-out 0.3s;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.toggle-audio input[type=checkbox]:checked ~ label {
	background-color: #00a0fced;
	border-color: #006fc9b4;
   
}

 .toggle-audio input[type=checkbox]:checked ~ label::after {
	background-color: #0054B0;
	transform: translateX(40px);
    background-size: cover;
   
}
