/* #light-context, #dark-context{
    margin-right:0.15rem;
}
.theme-radio{
    display:flex;
}
.label-light-context {
    margin-right: 1rem;
}
.inline{
    display: inline;
    
} */


 .toggle-theme input[type=checkbox] {
	display: none;
   

}

 .toggle-theme label {
  
	
    border: 1px solid #ccc;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s; 
	width: 80px;
	height: 40px;
	position: relative;
	background-image: 
		linear-gradient(to right, rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.5)), 
		url('../../assets/img/sun.png'),

		url('../../assets/img/moon3.png'),
		linear-gradient(to left, rgba(53, 45, 45, 0.87), rgba(243, 202, 202, 0.804));
       

	background-size: 50% auto, 50% auto; /* Cada imagen ocupa el 50% del ancho del contenedor */
    background-repeat: no-repeat; /* Evita que las imágenes se repitan */
	background-position: left, right; 
   
}


.toggle-theme label::after {
	background-color:#3983d7;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all ease-in-out 0.3s;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}


 .toggle-theme input[type=checkbox]:checked ~ label {
	background-color: #00a0fced;
	border-color: #006fc9b4;
   
}
 .toggle-theme input[type=checkbox]:checked ~ label::after {
	background-color: #0054B0;
	transform: translateX(40px);
    background-size: cover;
   
}
