.thumbs{
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding:1em;
    margin-bottom: 1em;
    
    
}
.thumbs-light{
  /* background-color: rgba(240, 248, 255, 0.472); */
  background-color: rgba(13, 103, 181, 0.535); 
  animation: thicken-light 2s ease-in-out 1ms;
}
.thumbs-dark{
  background-color: rgba(240, 248, 255, 0.472); 
  animation: thicken-dark 2s ease-in-out 1ms;
}

@keyframes thicken-dark {
   0% {
    transform: scale(0);
    border: 1px solid rgb(236, 230, 230);
   }
   10%{
    transform: scale(0.4);
    border: 1px solid rgb(236, 230, 230);
   }
   20% {
    transform: scale(0.8);
    border: 1px solid rgb(236, 230, 230);
   }
   30% {
    transform: scale(1.2);
    border: 1px solid rgb(236, 230, 230);
   }
   40% {
    transform: scale(1.6);
    border: 1px solid rgb(236, 230, 230);
   }
   50% {
    transform: scale(2);
    border: 2px solid rgb(236, 230, 230);
   }
   60% {
    transform: scale(1.6);
    border: 2px solid rgb(236, 230, 230);
   }
   70% {
    transform: scale(1.2);
    border: 2px solid rgb(236, 230, 230);
   }
   80% {
    transform: scale(0.8);
    border: 2px solid rgb(236, 230, 230);
   }
   90% {
    transform: scale(0.4);
    border: 2px solid rgb(236, 230, 230);
   }
   100% {
    transform: scale(0);
    border: 2px solid rgb(236, 230, 230);

   }
}

@keyframes thicken-light {
  0% {
   transform: scale(0);
   border: 1px solid rgba(13, 103, 181, 0.535);
  }
  10%{
   transform: scale(0.4);
   border: 1px solid rgba(13, 103, 181, 0.535);
  }
  20% {
   transform: scale(0.8);
   border: 1px solid rgba(13, 103, 181, 0.535);
  }
  30% {
   transform: scale(1.2);
   border: 1px solid rgba(13, 103, 181, 0.535);
  }
  40% {
   transform: scale(1.6);
   border: 1px solid rgba(13, 103, 181, 0.535);
  }
  50% {
   transform: scale(2);
   border: 2px solid rgba(13, 103, 181, 0.535);
  }
  60% {
   transform: scale(1.6);
   border: 2px solid rgba(13, 103, 181, 0.535);
  }
  70% {
   transform: scale(1.2);
   border: 2px solid rgba(13, 103, 181, 0.535);
  }
  80% {
   transform: scale(0.8);
   border: 2px solid rgba(13, 103, 181, 0.535);
  }
  90% {
   transform: scale(0.4);
   border: 2px solid rgba(13, 103, 181, 0.535);
  }
  100% {
   transform: scale(0);
   border: 2px solid rgba(13, 103, 181, 0.535);

  }
}
@media only screen and (max-width: 600px) {
 
    .thumbs {
      font-size: 1.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    
  
    .thumbs {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 901px) {

    .thumbs {
      font-size: 2.5rem;
    }
  }