.choice-icon {
    border-radius: 50%;
    transition: all 0.5s;
   
}

.choice-icon:hover{
    cursor:pointer;
    background-color: rgba(64, 228, 19, 0.357);
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.601);
    padding: 0.6rem;
    animation: spin 4000ms infinite linear;
    transform: scale(1.1);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}