@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid; */
 
  font-weight: 300;
   font-style: normal;
  font-family: "Jersey 15", sans-serif;
  background-color: #0A2647;
  background-image:  linear-gradient(90deg, rgba(1,6,20,0.9) 0%, rgba(66,97,149,0.9) 100%), url('../src/assets/img/img-bg.jpg') ;/* linear-gradient(90deg, rgba(1,6,20,1) 0%, rgba(66,97,149,1) 100%); */
  color:white; 
  border-radius: 50%;
}
  
.App {
  width: 90vw;
  max-width: 1000px; /* Mantener el ancho máximo en pantallas grandes */
  min-height: 80vh;
  padding: 20px;
  text-align: center;
  border-radius: 1rem;
}

.dark{
  background-color: #0A2647;
  background-image:  linear-gradient(90deg, rgba(1,6,20,0.9) 0%, rgba(66,97,149,0.9) 100%), url('../src/assets/img/img-bg.jpg') ;/* linear-gradient(90deg, rgba(1,6,20,1) 0%, rgba(66,97,149,1) 100%); */
  color:white;
}
.light{
  background-color: rgb(244, 248, 249);
  background-image:  linear-gradient(90deg, rgba(252, 252, 253, 0.935) 0%, rgba(193, 208, 235, 0.787) 100%), url('../src/assets/img/img-bg.jpg') ;
  color: #0A2647;
}

h1{
  word-spacing: 0.5em;
  text-transform: uppercase;
  letter-spacing:0.15em;

}

.App {
  width:1000px;
  min-height:600px;
  padding: 20px;
  text-align: center;
}

.icons{
  width: 80px;
  margin: 10px 0;
}

.theme-dark{
  background-color:  #0A2647;;
  color: #ffffff;
}

.theme-light{
  background-color: #faf8f8;
  color:#0A2647;
}

//toggleSwitch

// -toggle-theme
.toggle-theme input[type=checkbox] {
	display: none;
   
}

 .toggle-theme label {
    border: 1px solid #ccc;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s; 
	width: 80px;
	height: 40px;
	position: relative;
	background-image: 
		linear-gradient(to right, rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.5)), 
		url('./assets/img/sun.png'),

		url('./assets/img/moon3.png'),
		linear-gradient(to left, rgba(53, 45, 45, 0.87), rgba(243, 202, 202, 0.804));
       

	background-size: 50% auto, 50% auto; /* Cada imagen ocupa el 50% del ancho del contenedor */
    background-repeat: no-repeat; /* Evita que las imágenes se repitan */
	background-position: left, right; 
   
}


.toggle-theme label::after {
	background-color:#3983d7;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all ease-in-out 0.3s;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}


 .toggle-theme input[type=checkbox]:checked ~ label {
	background-color: #00a0fced;
	border-color: #006fc9b4;
   
}
 .toggle-theme input[type=checkbox]:checked ~ label::after {
	background-color: #0054B0;
	transform: translateX(40px);
    background-size: cover;
   
}

/* Estilos comunes para ambos toggles */


/* Estilos específicos para ToggleTheme */
.toggle-theme label {
    background-image: 
        linear-gradient(to right, rgba(0, 0, 0, 0.496), rgba(0, 0, 0, 0.5)), 
        url('./assets/img/sun.png'),
        url('./assets/img/moon3.png'),
        linear-gradient(to left, rgba(53, 45, 45, 0.87), rgba(243, 202, 202, 0.804));
}

.toggle-theme label::after {
    background-color: #3983d7;
}

.toggle-theme input[type=checkbox]:checked ~ label::after {
    background-color: #0054B0;
}

/* Estilos específicos para ToggleAudio */
.toggle-audio label {
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), 
        url('./assets/img/sound3.png'),
        url('./assets/img/mute2.png'),
        linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.toggle-audio label::after {
    background-color: #3983d7;
    background: no-repeat url('./assets/img/moon2.png') auto;
}

.toggle-audio input[type=checkbox]:checked ~ label::after {
    background-color: #0054B0;
}

/* animation theme change */

@keyframes fadeOutBlur {
  0% {
    opacity: 1;
    filter: blur(0);
  }
  50% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes fadeInBlur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  50% {
    opacity: 0.5;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.theme-transition-out {
  animation: fadeOutBlur 0.5s ease-in forwards;
}

.theme-transition-in {
  animation: fadeInBlur 0.5s ease-out forwards, slideIn 0.5s ease-out forwards;
}



/* animations language change */

 @keyframes fadeOutScaleDown {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95); /* Reducimos un poco el tamaño */
  }
}

@keyframes fadeInScaleUp {
  0% {
    opacity: 0;
    transform: scale(1.05); /* Comienza un poco más grande */
  }
  50% {
    opacity: 0.5;
    transform: scale(1); /* Vuelve al tamaño original pero sigue semi transparente */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Tamaño y opacidad originales */
  }
}

.fade-out-scale-down {
  animation: fadeOutScaleDown 0.6s ease-in forwards;
}

.fade-in-scale-up {
  animation: fadeInScaleUp 0.8s ease-out forwards;
  animation-delay: 0.2s; /* Añadimos un pequeño retraso */
}
.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
} 

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rotate-out {
  animation: rotateOut 0.5s forwards;
}

.rotate-in {
  animation: rotateIn 0.5s forwards;
}

@keyframes rotateOut {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateIn {
  from {
    transform: rotate(-90deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.scale-out {
  animation: scaleOut 0.5s forwards;
}

.scale-in {
  animation: scaleIn 0.5s forwards;
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
  .App {
    width: 95vw;
    min-height: 70vh;
    padding: 15px;
  }

  /* .icons {
    width: 50px;
    margin: 5px 0;
  } */

  h1 {
    font-size: 1.5rem;
  }
}

/* Pantallas medianas (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .App {
    width: 85vw;
    min-height: 75vh;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Pantallas grandes (desktops) */
@media only screen and (min-width: 901px) {
  .App {
    width: 70vw;
    max-width: 1000px;
    min-height: 80vh;
  }

  h1 {
    font-size: 2.5rem;
  }
}