.msg-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message{
    /* border:1px solid black; */
    text-align:center;
    margin: 20px 0;
    font-size:2.5rem;
}

.hidden {
    display:none;
}
.display {
    display:block;
}

@media only screen and (max-width: 600px) {
 
    .message {
      font-size: 1.5rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    
  
    .message {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 901px) {

    .message {
      font-size: 2.5rem;
    }
  }